/* container fixed فوق كل حاجة */
.circle-effect-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1; /* خلف كل حاجة */
  overflow: visible;
}

/* الدائرة نفسها */
.circle-effect {
  display: flex;
  position: absolute;
  left: 60%;
  bottom: 520px;
  transform: translateX(-50%);
  width: 250vw;
  height: 250vh;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--clr-bg-secondary);
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
  z-index: -1; /* نفس المستوى */
}

/* نسخة اللون الفاتح او الداكن */
.circle-effect.light {
  width: 320vw;
  height: 320vh;
  background-color:#0a0a0a;
  z-index: -1;
}
.circle-effect.dark {
  /* background-color: var(--clr-bg-primary); */
  z-index: -1;
}

/* موبايل: خفف الحجم شوية لو حبّيت */
@media (max-width: 768px) {
  .circle-effect {
    display: flex;
    position: absolute;
    bottom: 520px;
    transform: translateX(-50%);
    width: 250vw;
    height: 250vh;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--clr-bg-secondary);
    opacity: 0;
    will-change: transform, opacity;
    pointer-events: none;
    z-index: -1; /* نفس المستوى */
  }
  
  .circle-effect.light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250vw;
    height: 250vh;
    left: 50%;
  background-color:#0a0a0a;


  }





@media (max-width: 480px) {
  .circle-effect {
    display: flex;
    position: absolute;
    bottom: 520px;
    transform: translateX(-50%);
    width: 250vw;
    height: 250vh;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--clr-bg-secondary);
    opacity: 0;
    will-change: transform, opacity;
    pointer-events: none;
    z-index: -1; /* نفس المستوى */
  }
  
  .circle-effect.light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250vw;
    height: 250vh;
    left: 50%;
  background-color:#0a0a0a;


  }
}
}
