/* container fixed فوق كل حاجة */
.circle-effect-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1; /* خلف كل حاجة */
  overflow: visible;
}

/* الدائرة نفسها */
.circle-effect {
  position: absolute;
  left: 50%;
  bottom: -5vh;
  transform: translateX(-50%);
  width: 220vw;
  height: 220vh;
  border-radius: 50%;
  background-color: var(--clr-bg-secondary);
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
  z-index: -1; /* نفس المستوى */
}

/* نسخة اللون الفاتح او الداكن */
.circle-effect.light {
  width: 220vw;
  height: 220vh;
  background-color:#251372;
  z-index: -1;
}
.circle-effect.dark {
  background-color: var(--clr-bg-primary);
  z-index: -1;
}

/* موبايل: خفف الحجم شوية لو حبّيت */
@media (max-width: 768px) {
  .circle-effect {
    width: 280vw;
    height: 280vh;
    bottom: -50vh;
  }
}
