.circle-btn-wrap{ 
    position:absolute;
    display: flex;
       right:30px; 
       bottom:10px;
       width:220px;
       height:220px; 
       align-items:center; 
       justify-content:center;
     }
.big-btn{ 
      position:absolute; 
      z-index:2; pointer-events:auto;
      padding:12px 26px; 
     }
.circular-text{ 
    position:absolute;
     width:100%; 
     height:100%;
     transform-origin:center;
     animation:spin 12s linear infinite;
     pointer-events:none;
     color: #000;
     
    }

    .circle-btn-wrap text textPath {
        font-size:var( --font-size-lg);
    }

/* 
.circle-btn-wrap:hover .circular-text{
     animation-play-state:paused
     ; 
    } */

@keyframes spin{ from{transform:rotate(0)} to{transform:rotate(360deg)} }