.projects-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-block: var(--section-padding-y);
    background-color: var(--clr-bg-primary);
    border-bottom: 1px solid var(--clr-border-light);
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-3xl);
    width: min(1200px, 90%);
    margin-inline: auto;
  }
  
  /* الكارد نفسه */
  .project-card-wrapper {
    flex: 1 1 calc(50% - var(--spacing-3xl)); /* يعني ياخد نص العرض تقريبًا */
    max-width: 48%;
    opacity: 0;
    transform: translateY(30px);
  }
  
  /* لما الشاشة تكون تابلت */
  @media (max-width: 1024px) {
    .project-card-wrapper {
      flex: 1 1 calc(50% - var(--spacing-2xl));
      max-width: 48%;
    }
  }
  
  /* لما الشاشة تبقى موبايل */
  @media (max-width: 768px) {
    .projects-container {
      flex-direction: column;
      align-items: center;
    }
  
    .project-card-wrapper {
      flex: 1 1 100%;
      max-width: 90%;
    }
  }
  