.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  width: 100%;
  font-family: var(--font-bebas);
  font-size: var(--font-size-hero-h1); /* أكبر شويه زي الموقع */
  letter-spacing: var(--letter-spacing-extra-wide); /* المسافة بين الحروف */
  line-height: var(--line-height-normal); 
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}



@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}
